{% extends 'base.html' %}


{% block head %}
    {{ super() }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3">

{% endblock %}



{% block app_content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1 class="mb-0">{{title}}</h1>
            </div>
            <div class="card-body">
                <div class="jumbotron">
                    <dl class="row">

                        {% if data.nome is none %}
                            <dt class="col-sm-4">Nome:</dt>
                            <dd class="col-sm-6"> Clique no botão ao lado para cadastrar </dd>
                            <dd class="col-sm-2"><a href="#" class="btn btn-warning btn-sm"
                                data-toggle="modal" data-target="#exemploModal" data-acao="cadastrar"
                                data-informacao="nome">Cadastrar</a></dd>
                        {% else %}
                            <dt class="col-sm-4">Nome:</dt>
                            <dd class="col-sm-6">{{ data.nome }}</dd>
                            <dd class="col-sm-2"><a href="#" class="btn btn-warning btn-sm"
                                data-toggle="modal" data-target="#exemploModal" data-acao="editar"
                                data-informacao="nome">Editar</a></dd>
                        {% endif %}

                        {% if data.dataNascimento is none %}
                            <dt class="col-sm-4">Data de Nascimento:</dt>
                            <dd class="col-sm-6"> Clique no botão ao lado para cadastrar</dd>
                            <dd class="col-sm-2"><a href="#" class="btn btn-warning btn-sm"
                                data-toggle="modal" data-target="#exemploModal" data-acao="cadastrar"
                                data-informacao="data_nascimento">Cadastrar</a></dd>
                        {% else %}
                            <dt class="col-sm-4">Data de Nascimento:</dt>
                            <dd class="col-sm-6">{{ data.dataNascimento }}</dd>
                            <dd class="col-sm-2"><a href="#" class="btn btn-warning btn-sm"
                                data-toggle="modal" data-target="#exemploModal" data-acao="editar"
                                data-informacao="data_nascimento">Editar</a></dd>
                        {% endif %}

                        <dt class="col-sm-4">CPF:</dt>
                        <dd class="col-sm-6">{{ data.CPF }}</dd>
                        <dd class="col-sm-2"><a href="#" class="btn btn-warning btn-sm"
                                data-toggle="modal" data-target="#exemploModal" data-acao="editar"
                                data-informacao="cpf">Editar</a></dd>

                        {% if data.genero is none %}
                            <dt class="col-sm-4">Gênero:</dt>
                            <dd class="col-sm-6">Clique no botão ao lado para cadastrar</dd>
                            <dd class="col-sm-2"><a href="#" class="btn btn-warning btn-sm"
                                data-toggle="modal" data-target="#exemploModal" data-acao="cadastrar"
                                data-informacao="genero">Cadastrar</a></dd>
                        {% else %}
                            <dt class="col-sm-4">Gênero:</dt>
                            <dd class="col-sm-6">{{ data.genero }}</dd>
                            <dd class="col-sm-2"><a href="#" class="btn btn-warning btn-sm"
                                data-toggle="modal" data-target="#exemploModal" data-acao="editar"
                                data-informacao="genero">Editar</a></dd>
                        {% endif %}

                        {% if data.email is none %}
                            <dt class="col-sm-4">Email:</dt>
                            <dd class="col-sm-6">Clique no botão ao lado para cadastrar</dd>
                            <dd class="col-sm-2"><a href="#" class="btn btn-warning btn-sm"
                                data-toggle="modal" data-target="#exemploModal" data-acao="cadastrar"
                                data-informacao="email">Cadastrar</a></dd>
                        {% else %}
                            <dt class="col-sm-4">Email:</dt>
                            <dd class="col-sm-6">{{ data.email }}</dd>
                            <dd class="col-sm-2"><a href="#" class="btn btn-warning btn-sm"
                                data-toggle="modal" data-target="#exemploModal" data-acao="editar"
                                data-informacao="email">Editar</a></dd>
                        {% endif %}

                        {% if data.telefone is none %}
                            <dt class="col-sm-4">Telefone:</dt>
                            <dd class="col-sm-6">Clique no botão ao lado para cadastrar</dd>
                            <dd class="col-sm-2"><a href="#" class="btn btn-warning btn-sm"
                                data-toggle="modal" data-target="#exemploModal" data-acao="cadastrar"
                                data-informacao="telefone">Cadastrar</a></dd>
                        {% else %}
                            <dt class="col-sm-4">Telefone:</dt>
                            <dd class="col-sm-6">{{ data.telefone }}</dd>
                            <dd class="col-sm-2"><a href="#" class="btn btn-warning btn-sm"
                                data-toggle="modal" data-target="#exemploModal" data-acao="editar"
                                data-informacao="telefone">Editar</a></dd>
                        {% endif %}

                    </dl>
                    <div class="card-footer text-left">
                        <a href="{{ url_for('patient.personal_registration_menu') }}" class="btn btn-primary">Voltar</a>
                    </div>

                    <div class="modal fade" id="exemploModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">Teste</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="dynamicFormContainer">
                                    <!-- Conteúdo dinâmico da janela modal -->
                                    <p id="conteudoModal"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block scripts %}
{{ super() }}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $('#exemploModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var acao = button.data('acao');
            var informacao = button.data('informacao');

            var titulo = (acao === 'cadastrar') ? 'Cadastrar ' : 'Editar ';
            switch (informacao) {
                case 'nome':
                    titulo += 'Nome';
                    if (acao === 'cadastrar'){
                        cadastraNomeForm("cadastra","nome");
                    } else {
                        cadastraNomeForm("edita","nome");
                    }
                    break;
                case 'data_nascimento':
                    titulo += 'Data de Nascimento';
                    if (acao === 'cadastrar'){
                        cadastraDataForm("cadastra","data_nascimento");
                    } else {
                        cadastraDataForm("edita","data_nascimento");
                    }
                    break;
                case 'genero':
                    titulo += 'Gênero';
                    if (acao === 'cadastrar'){
                        cadastraGeneroForm("cadastra","genero");
                    } else {
                        cadastraGeneroForm("edita","genero");
                    }
                    break;
                case 'cpf':
                    titulo += 'CPF';
                    if (acao === 'cadastrar'){
                        cadastraCpfForm("cadastra","cpf");
                    } else {
                        cadastraCpfForm("edita","cpf");
                    }
                    break;
                case 'email':
                    titulo += 'Email';
                    if (acao === 'cadastrar'){
                        cadastraEmailForm("cadastra","email");
                    } else {
                        cadastraEmailForm("edita","email");
                    }
                    break;
                case 'telefone':
                    titulo += 'Telefone';
                    if (acao === 'cadastrar'){
                        cadastraTelefoneForm("cadastra","telefone");
                    } else {
                        cadastraTelefoneForm("edita","telefone");
                    }                   
                    break;
                default:
                    titulo += 'Informação Desconhecida';
            }
            $('#modalLabel').text(titulo);
        });

        function cadastraNomeForm(solicitacao,dados) {
            let url = `/register_patient_name?decisao=${solicitacao}&coluna=${dados}`;
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('conteudoModal').innerHTML = data
                    $('#meuModal').modal('show');
                })
                .catch(error => {
                    console.error('Erro:', error);
                });
        }

        function cadastraDataForm(solicitacao,dados) {
            let url = `/register_patient_date?decisao=${solicitacao}&coluna=${dados}`;
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('conteudoModal').innerHTML = data
                    $('#meuModal').modal('show');
                })
                .catch(error => {
                    console.error('Erro:', error);
                });
        }

        function cadastraCpfForm(solicitacao,dados) {
            let url = `/register_patient_cpf?decisao=${solicitacao}&coluna=${dados}`;
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('conteudoModal').innerHTML = data
                    $('#meuModal').modal('show');
                })
                .catch(error => {
                    console.error('Erro:', error);
                });
        }

        function cadastraGeneroForm(solicitacao,dados) {
            let url = `/register_patient_gender?decisao=${solicitacao}&coluna=${dados}`;
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('conteudoModal').innerHTML = data
                    $('#meuModal').modal('show');
                })
                .catch(error => {
                    console.error('Erro:', error);
                });
        }

        function cadastraEmailForm(solicitacao,dados) {
            let url = `/register_patient_email?decisao=${solicitacao}&coluna=${dados}`;
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('conteudoModal').innerHTML = data
                    $('#meuModal').modal('show');
                })
                .catch(error => {
                    console.error('Erro:', error);
                });
        }

        function cadastraTelefoneForm(solicitacao,dados) {
            let url = `/register_patient_phone?decisao=${solicitacao}&coluna=${dados}`;
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('conteudoModal').innerHTML = data
                    $('#meuModal').modal('show');
                })
                .catch(error => {
                    console.error('Erro:', error);
                });
        }
    </script>



{% endblock %}